.viewPort {
  &--mylampedusaGrey {
    background-color: $gray;
    display: flex;
    justify-content: space-between;    
  }
}

.mylampedusaInner {
  inline-size: 21vw;
  overflow-wrap: break-word;
  white-space: initial;
  }

  .iconsInner {
    display: flex;
    flex-direction: column;
    justify-content: center;


    &--secondSlide {
      flex-grow: 1;
    }
  }

  .iconsImgContainer {
    display: flex;
    align-items: center;
   
    &--firstRow {
      margin-bottom: 30px;
    }
  }

  .IconAndImgAndText{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 50px;
    max-width: 422px;
    // overflow-wrap: break-word;
    white-space: initial;
    position: relative;
    

    .IconAndImg__img {
      transition: all 0.4s;
      z-index: 1;
      width: 22.5vw;
    }

    &.active {

      .iconAndImagecontainer {
        transform: scale(.9) rotate(0.01deg);
      }

      .IconAndImg__img{
        opacity:.5;
      }

      .icon {
        opacity: 1;
        transform: scale(1.20);
      }
      .titlesTextWrapper {
        opacity: 1;
      }
    }
  }

  .iconAndImagecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: transform 0.4s;
    transform-origin: 0 0;
  }

  .icon {
    position: absolute;
    opacity: 0;
    z-index: 2;
    transition: all 0.1s;
  }

  .text {
    &--iconsDescription {
      font-size: 1.2vw;
      font-family: 'abc_whyte_semi-mono_trialRg';
      color: black;
      text-align: left;
      margin-top: 20px;
    }    

    &--iconsTitles {
      font-size: 1.2vw;
      font-family: 'abc_whyte_semi-mono_trialRg';
      color: #FF716C;

    }
  }

.titlesTextWrapper {
  position: absolute;
  opacity: 0;
  transform: rotate(-90deg) translateX(100%) translateY(100%);
  transform-origin: bottom right;
  bottom:0;
  right:-5px;
  z-index: 2;
  transition: all 0.1s;
}

.btnWrapper {
  &--btnArrowDownSquare {
    width: 27.5vw;
    // height: 369px;
    margin-right: 0;
    display: flex;
    justify-content: center;
  }
}


// .projectCard--mylampedusaSecondSlide {
//   justify-content: flex-start;
//   display: inline-flex;
// }

.btnWrapper--btnArrowLeftSecondSlide {
  flex: 1;
}