.typographyContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.typographyTitleContainer {
  margin-bottom: 130px; 
}

.typographyNameAndDescription {
  margin-left: 40px; 
}

.typographyAndTypographyOptionsContainer {
  margin-bottom: 40px;
}

.typographyDescriptionContainer {
  display: flex;
  justify-content: space-between;
}

.typefaceExampleContainer {
  &--column2 {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
}
