.textWrapper {
  // display: flex;
  // position: absolute;
  // flex-direction: column;
  width: 100%;
  // align-items: center;

  &--welcome {
    display: flex;
    // top: 3%;
    justify-content: center;
  }

  &--nameAndButton {
    // top: 19%;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: row;
    justify-content: space-between;
  }

  &--description {
    display: flex;
    justify-content: center;
    // top: 68%;
  }
}

