.projectOverviewInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectOverviewTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 40px;
  margin-bottom: 50px;
  margin-top: 120px;
}
.projectOverviewTextContainer {
  display: flex;
  justify-content: space-between;
}
.projectOverviewDescriptionTextContainer {
  
  max-width: 590px;
  overflow-wrap: break-word;
  white-space: initial;
  margin-right: 40px;
  margin-top: 20px;
}

.projectQuoteContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 40px;
}
