.homepageTextAnimationWrapper {
  display: inline-block;
}

  .strategyTextWrapper {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
  }


.btnAboutWrapper {
  display: flex;
  align-items: center;
  width: 35%;
  justify-content: flex-end;
  padding: 35px 0 30px 0;
}

.designTextWrapper {
  display: flex;
  overflow: hidden;
}


.scrollLeftRight {
  animation: scrollLeftRight 10s linear infinite;
}

@keyframes scrollLeftRight {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}



.scrollRightLeft {
  animation: scrollRightLeft 10s linear infinite;
}

@keyframes scrollRightLeft {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0, 0%);
  }
}