.btn {
  width: 16.9vw;
  height: 16.9vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  border:0;
  background: none;

  &--arrowDownCircle {
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px $vividRed;
    border: solid 2px $vividRed;
    transform: scale(1);
    animation: pulse-vividRed 2s infinite;

    &.white {
      box-shadow: inset 0 0 0 2px $white;
      border: solid 2px $white;
      animation: pulse-white 2s infinite;
    }

    &:hover {
        // border: solid 2px $vividRed;
        animation-play-state: paused;
    }
  }

  &--arrowRight {
    border: none;
    width:6vw;
    margin-right: 100px;
  }

  &--arrowDownNoCircle{
    border: none;
    width: 6vw;

    &.white {
      -webkit-text-stroke: 2px $white;
    }
  }

  &--arrowLeft {
    border: none;
    width: 6vw;
  }

  &.GadgetCarousel {
    margin-left: 100px;
    flex: 0;
  }

  &--about {
    margin-right: 30px;
    font-family: 'abc_whyte_semi-mono_trialRg';
    color: white;
    font-size: 2.8vw;
    width: 15vw;
    height: 15vw;
    transition: transform .2s;
    border: none;
    position: relative;
    .about {
      border-bottom: solid 2px transparent;;
      transition: border-color 300ms;
    }
    .circle {
      transition: transform ease 300ms;
      border: solid 2px $vividRed;
      width: 100%;
      height: 100%;
      position:absolute;
      border-radius: 50%;
    }
  }
  &:hover {
    .circle {
      transform: scale(1.2);
    }
    .about {
      border-color: $vividRed;
    }
  }
  
// ARROWS

  & .arrow {
    font-size: 6vw;
    display: block; 

    transition: all 0.5s ease;

    background-size: 200%;
    background-clip: text;
    background-position: 0% center;
    
    -webkit-background-clip: text;
    color: transparent;
    

      &--right {
        font-size: 5vw;
        background-position: 100% center;
        background-image: linear-gradient(to left, transparent 50%, #B0ACC9 50%, #F0C1B1, #F7CCAE, #FCFD79);

        &.black {
          -webkit-text-stroke: 2px $black;
        }
        &.white {
          -webkit-text-stroke: 2px $white;
        }
      }

      &--left {
        font-size: 5vw;
        background-image: linear-gradient(to right, transparent 50%, #B0ACC9 50%, #F0C1B1, #F7CCAE, #FCFD79);
        background-position: 0% center;

        &.black {
          -webkit-text-stroke: 2px $black;
        }
        &.white {
          -webkit-text-stroke: 2px $white;
        }
      }

      &--down {
        font-size: 6vw;
        margin-right: 45px;


        // background-image: linear-gradient(to bottom, transparent 50%, #B0ACC9 50%, #F0C1B1, #F7CCAE, #FCFD79);
        background-position: 0% 0%;
        background-size: 100% 200%;


        &.black {
          -webkit-text-stroke: 2px $black;
          background-image: linear-gradient(to bottom, transparent 50%, $black 50%);
        }

        &.white {
          -webkit-text-stroke: 2px $white;
          background-image: linear-gradient(to bottom, transparent 50%, $white 50%);
        }
      }



      &--downSlide {
        margin: 0;
        font-size: 6vw;
        background-position: 0% 0%;

        &.black {
          -webkit-text-stroke: 2px $black;
          background-image: linear-gradient(to bottom, transparent 50%, $black 50%);
        }
        &.white {
          -webkit-text-stroke: 2px $white;
          background-image: linear-gradient(to bottom, transparent 50%, $white 50%);
        }
      }

      &--downInCircle {
        font-size: 7vw;

        color: transparent;
        background-size: 100% 200%;

        &.vividRed {
          -webkit-text-stroke: 2px $vividRed;
          background-image: linear-gradient(to bottom, transparent 50%, $vividRed 50%);
          
        }

        &.white {
          -webkit-text-stroke: 2px $white;
          background-image: linear-gradient(to bottom, transparent 50%, $white 50%);
        }
      }
    }

  &:hover .arrow--right {
    transform: translateX(50%);
    background-position: 0% -100%;
    // background-position: 100% center;
  }

  &:hover .arrow--left {
    transform: translateX(-50%);
    background-position: 100% center;
  }

  &:hover .arrow--down {
    transform: translate(0, 50px);
    background-position: 100% 100% ;
  }

  &:hover .arrow--downSlide {
    transform: translate(0, 50px);
    background-position: 100% 100% ;
  }

  &:hover .arrow--downInCircle {
    transform: translate(0, 50px);  
    background-position: 100% 100% ;  
    // animation: fill 2s forwards;
  }

  &:hover .arrow--downInCircle.white {
    transform: translate(0, 50px);    
    // animation: fillWhite 2s forwards;
  }
}




// @keyframes fill {
//   0% {color: transparent;}
//   25% {color: $vividRed;}
//   50% {color: $vividRed;}
//   100% {color: $vividRed;}
// }
// @keyframes fillWhite {
//   0% {color: transparent;}
//   25% {color: $white;}
//   50% {color: $white;}
//   100% {color: $white;}
// }

// @keyframes pulse-vividRed {
// 	0% {
// 		//transform: scale(0.95);
// 		box-shadow: 0 0 0 0px $vividRed;
// 	}
	
// 	100% {
// 		//transform: scale(1);
// 		box-shadow: 0 0 10px 15px rgba($vividRed, 0);
// 	}
// }
@keyframes pulse-white {
	0% {
		//transform: scale(0.95);
		box-shadow: 0 0 0 0px $white;
	}
	
	100% {
		//transform: scale(1);
		box-shadow: 0 0 10px 15px rgba($white, 0);
	}
}