@font-face {
  font-family: 'abc_whyte_inktrap_mono_triaRg';
  src: url('../fonts/Whyte-Inktrap-Mono/abcwhyteinktrapmono-regular-trial-webfont.woff2') format('woff2'),
       url('../fonts/Whyte-Inktrap-Mono/abcwhyteinktrapmono-regular-trial-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Whyte-Inktrap-Semi-Mono';
  src: url('../fonts/Whyte-Inktrap-Semi-Mono/ABCWhyteInktrapSemi-Mono-Regular-Trial.woff2') format('woff2'),
       url('../fonts/Whyte-Inktrap-Semi-Mono/ABCWhyteInktrapSemi-Mono-Regular-Trial.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Whyte-Inktrap-Semi-Mono';
  src: url('../fonts/Whyte-Inktrap-Semi-Mono/ABCWhyteInktrapSemi-Mono-RegularItalic-Trial.woff2') format('woff2'),
       url('../fonts/Whyte-Inktrap-Semi-Mono/ABCWhyteInktrapSemi-Mono-RegularItalic-Trial.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'whyteinktrapblack';
  src: url('../fonts/whyteinktrap-black/whyteinktrap-black-webfont.woff2') format('woff2'),
       url('../fonts/whyteinktrap-black/whyteinktrap-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'abc_whyte_semi-mono_trialRg';
  src: url('../fonts/whytesemi-mono-regular-trial/abcwhytesemi-mono-regular-trial-webfont.woff2') format('woff2'),
       url('../fonts/whytesemi-mono-regular-trial/abcwhytesemi-mono-regular-trial-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'abc_whyte_inktrap_trialRg';
  src: url('../fonts/whyteinktrap-regular/abcwhyteinktrap-regular-trial-webfont.woff2') format('woff2'),
       url('../fonts/whyteinktrap-regular/abcwhyteinktrap-regular-trial-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'abc_whyte_inktrap_trialmedium';
  src: url('../fonts/whyteinktrap-medium/abcwhyteinktrap-medium-trial-webfont.woff2') format('woff2'),
       url('../fonts/whyteinktrap-medium/abcwhyteinktrap-medium-trial-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}