
.connectAndArrowtWrapper {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: flex-end;

  & .arrow {
    
    &--slim {
      width: auto ;
      height: 8.6vw;
      transition: transform ease 500ms;
    }
  }

    &:hover .arrow--slim {
      transform: translate(0, 120px);
    } 
}



.connectTextWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  margin-right: 150px;
}

.contactFooter {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 50px;
  right: 40px;
  width: 96%;
  // justify-content: space-between;
}