.projectCard {

  & .projectCardHeader {
    &--mylampedusaGadgets {
      flex: 0;
      position: absolute;
    }
  }
}

.gadgetContainer {
  display: flex;
  align-items: center;
  flex: 5;
  img {
    display: block;
  }

  &--tShirt {
    display: flex;
    justify-content: center;
    margin-left: 100px;
  }

  &--bags {
    margin-left: 60px;
    flex: 3;
  }

  &--threeBags {
    display: flex;
    flex-direction: column;
  }
  
  &--bottles {
    justify-content: center;
    margin-right: 100px;
  }

  &--phone {
    justify-content: center;
  }

  &--slippers {
    display: flex;
    flex: 6;
    justify-content: space-evenly;
  }

  &--hats {
    justify-content: center;
    margin-right: 200px;
  }
}

.dotsWrapper {
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.btn__dot {
  height: 15px;
  width: 15px;
  border: 1px solid white; 
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

.btn__dot:hover, .btn__dot:focus {
  background: white; 
}

.btn__dot.active {
  background: white;
}


.sliderProject.dark {
  .btn__dot {
    border: 1px solid black; 
    &:hover, :focus {
      background: black;
    }

    &.active {
      background: black;
    }
  }  
}

.imgs {
  &--tshirt {
    width: 37vw;
    margin-left: 100px;
  }
  &--bagBig {
    width: 27vw;
  }
  &--bagSmall {
    width: 20vw;
  }
  &--bottleSmall {
    width: 11vw;
    margin-right: 30px; 
    transform: rotate(-15deg);
  }
  &--bottleBig {
    width: 16vw;
  }
  &--phone {
    width: 23vw
  }
  &--slippersSmall {
    transform: rotate(19deg); 
    width: 30vw
  }
  &--slippersBig {
    width: 35vw;
  }
  &--hats {
    width: 45vw;
  }
}